<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore requestTimeout="00:20:00" forwardWindowsAuthToken="true" processPath="%LAUNCHER_PATH%" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44333" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\community\common7\ide\extensions\microsoft\web tools\projectsystem\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44314/CoreReleaseAutomation/,ws://localhost:56568/CoreReleaseAutomation/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmkoPAOqkE04l6LN8bIBxCxUOwCaZ+V8O/WJUom8oBResSS/oZ5cUUq+XU4Uu3F1tLyRlSUqOtGNjOzwUIw7c08MUFimNA8V8Ih3Kv6vbL+XEpTBdU6yCHH/agdyym/60vsfJXPyDSUENS0ZmA9wKrui/EnJz2REN/xP1dIz8sreF1o7oVRrXNFf+hElzLQbRdsdNgMbXD96KNosl0SoyXyHkJJQJ3X85Jmi3vf0na7kS/Ac2T6oEyD6QP3nKyH/zzTaitcLhbgbQftr9EL/T2d+NCHwnPuXLalyNvGxE7Pq7WI5xl/faP+T3gJRpqq0hFC6+fqDwmZ6u/dTHGdYUHQIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <!--aspNetCore  processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/ -->
  </system.webServer>
</configuration>