
@{
    ViewData["Title"] = "Auto Login Configuration";
}
<br />
<div>
    <h3>Auto Login  Configuration</h3>
    <div>
        If the login box appears when trying to login with IE, there is a setting that you can set so that IE sends the username when used in the intranet sites. Go to tools > internet options > security and in the security settings select the option Automatic Logon with current username and password or Automatic Logon only in intranet Zone You have to make sure that the site you are trying to use is added in the intranet zone.
    </div>
    <br />
    <br />
    <img src="~/images/InternetProperties-Security.PNG" />
</div>


